#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}


#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    color: var(--color-neutral-1);;
}

#cta .title span {
    color: var(--color-primary-6);
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-neutral-1);;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: fit-content;
}

.shape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-2);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}
.infraestrutura h2 {
    font-size: 2em;
    margin-bottom: 50px;
}

.elementos {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.elemento {
    max-width: 300px;
    text-align: center;
}

.elemento img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.elemento h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.elemento p {
    font-size: 1em;
    line-height: 1.5;
}
.solar-energy {
    text-align: center;
    background-color: #00a651;
    padding: 40px;
    border-radius: 20px;
    color: white;
    margin: 50px auto;
    max-width: 1200px;
}

.solar-energy h2 {
    color: #f7b500;
    font-size: 24px;
    font-weight: bold;
}

.solar-energy h3 {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
}

.solar-energy p {
    font-size: 18px;
    margin-bottom: 40px;
}

.steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.step {
    background-color: #33a755;
    border-radius: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
    color: white;
}

.step img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.step h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.step p {
    font-size: 16px;
}
.nuclear-energy {
    text-align: center;
    background-color: #f7b500;
    padding: 40px;
    border-radius: 20px;
    color: black;
    margin: 50px auto;
    max-width: 1200px;
}

.nuclear-energy h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.nuclear-energy p {
    font-size: 18px;
    margin-bottom: 40px;
}

.impacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.impact {
    background-color: #f0d58a;
    border-radius: 15px;
    padding: 20px;
    width: 23%; /* Ajuste a largura para exibir vários blocos lado a lado */
    text-align: left;
    color: black;
    margin-bottom: 20px;
}

.impact span {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}

.impact h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.impact p {
    font-size: 16px;
}
@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}